*{
    padding:0;
    margin: 0;
    box-sizing: border-box; 
}
.heading{
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 1.76rem;
    color: white;
}
#cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    width: 100%;  
}
.card{
    box-shadow: 0 0 3px 3px;
    background-color:white;
    padding: 1em;   
    margin-bottom: 2em;
    margin-left: 2em;
    text-align: center;
    width: 25%; 
}
.title{
    font-size: 1rem;
    background-color: white;   
}
.subtitle{
    font-size:0.5rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 1em;
}
.images{
    width: 40%; 
}
@media only screen and (max-width: 600px) {
    body{
      background-color: lightblue;
    }
}
@media only screen and (min-width: 600px) {
    body{
        background-color: rgb(43, 81, 94);
        flex-wrap: nowrap;
    }
}
@media only screen and (min-width: 768px) {
    body{
        background-color: rgb(90, 133, 148);}
}
@media only screen and (min-width: 992px) {
    body{
        background-color: rgb(9, 70, 90);}
}
@media only screen and (min-width: 1200px) {
    body{
        background-color: rgb(21, 57, 70);}
}
